section#services{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/img/circle.svg);
}
#services span.contentIcon {
    width: 80px;
    height: 80px;
    margin: 10px auto 10px auto;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--main-color) 11%, #e9ba0055 100%);
    display: inline-flex;
    align-items: center;
}

#services span.contentIcon .icono{
    margin: auto;
    color: #fff;
}

#services .card{
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin:15px;
    transition: .25s;
    background-image: url(../../assets/img/waves-card.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
}
#services .card:hover{
    transform: translateY(-5px);
    border-radius: 15px;
    backdrop-filter:blur(5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    transition: .25s;
}
